.menu-container{
    margin: 0 auto;
    width: 15%;
    background: rgb(114, 114, 114);
    height: 92.4%;
    position: absolute;
    top: 70px;
    left: 0;
    border: solid 1px black;
}

.menu-tdb,.menu-lm,.menu-a,.menu-f{
    height: 15%;
    border: solid 1px black;
    transition:0.5s;
    
}

.menu-tdb:hover,.menu-lm:hover,.menu-a:hover,.menu-f:hover{
    background: rgb(71, 71, 71);
    
}

.menu-tdb-title,.menu-lm-title,.menu-a-title,.menu-f-title{
    margin: auto;
    color: white;
    text-align: center;    
}

.menu-s{    text-align: center;
    height: 15%;
    border: solid 1px black;
}

.search{
    margin: auto;
}